name: document-matching

on:
  push:
    branches: [ master ]
    paths-ignore: [ '**/*.md' ]
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch: {}
concurrency: singleton

jobs:
  build-publish:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install nox

      - name: Run black
        run: nox -s lint
      - name: Download models
        run: nox -s download_models
      - name: Run tests
        run: nox -s test

      # - name: Build and Push Docker image
      #   if: (github.event_name == 'push' && github.ref == 'refs/heads/master') || github.event_name == 'workflow_dispatch'
      #   run: docker buildx build . --push --progress=plain --build-arg GIT_COMMIT=${{ github.sha }} -t omnimodular.azurecr.io/omnicoder/document-matching:latest | { read CID; echo digest=$CID >> $GITHUB_OUTPUT; }
      #   id: build

      - id: Build and Push Docker image
        if: (github.event_name == 'push' && github.ref == 'refs/heads/master') || github.event_name == 'workflow_dispatch'
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: omnimodular.azurecr.io/omnicoder/document-matching:latest
          build-args: |
            GIT_COMMIT=${{ github.sha }}

      - name: Export digest
        if: (github.event_name == 'push' && github.ref == 'refs/heads/master') || github.event_name == 'workflow_dispatch'
        run: echo "digest=${{ steps.build.outputs.digest }}" >> "$GITHUB_OUTPUT"

      - name: Dispatch repository event
        if: (github.event_name == 'push' && github.ref == 'refs/heads/master') || github.event_name == 'workflow_dispatch'
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: omnimodular/events
          event-type: document-matching
          client-payload: >
            {
              "repository": "omnimodular.azurecr.io/omnicoder/document-matching",
              "tag": "latest",
              "digest": "${{ steps.build.outputs.digest }}"
            }
