name: document-matching

on:
  push:
    branches: [ master ]
    paths-ignore: [ '**/*.md' ]
  workflow_dispatch: {}

concurrency: singleton

jobs:
  build-publish:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Check formatting with Black
        run: black --check src

      - name: Run tests
        run: pytest -v src/tests/

      - name: Build and Push Docker image
        run: docker buildx build . --push -q --build-arg GIT_COMMIT=${{ github.sha }} -t omnimodular.azurecr.io/omnicoder/document-matching:latest | { read CID; echo digest=$CID >> $GITHUB_OUTPUT; }
        id: build

      - name: Dispatch repository event
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: omnimodular/events
          event-type: document-matching
          client-payload: >
            {
              "repository": "omnimodular.azurecr.io/omnicoder/document-matching",
              "tag": "latest",
              "digest": "${{ steps.build.outputs.digest }}"
            }
