name: document-matching

on:
  push:
    branches: [ master ]
    paths-ignore: [ '**/*.md' ]
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch: {}
concurrency: singleton

env:
  DISABLE_MODELS: true

jobs:
  build-publish:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt


      - name: Run black
        run: black --check .
      - name: Run tests
        run: pytest -v --skip-model src/tests/

      - name: Build and Push Docker image
        # run: docker buildx build . --push --progress=plain --build-arg GIT_COMMIT=${{ github.sha }} -t omnimodular.azurecr.io/omnicoder/document-matching:latest | { read CID; echo digest=$CID >> $GITHUB_OUTPUT; }
        run: docker buildx build . --push --progress=plain --build-arg GIT_COMMIT=${{ github.sha }} -t omnimodular.azurecr.io/omnicoder/document-matching:latest
        id: build

      - name: Dispatch repository event
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: omnimodular/events
          event-type: document-matching
          client-payload: >
            {
              "repository": "omnimodular.azurecr.io/omnicoder/document-matching",
              "tag": "latest",
              "digest": "${{ steps.build.outputs.digest }}"
            }
